@use "./variables.scss" as *;

@mixin flex($ai: null, $jc: null, $direction: null, $wrap: null){
  display: flex;
  align-items: $ai;
  justify-content: $jc;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin position($pos: null, $top: null, $left: null, $right: null, $bottom: null){
  position: $pos;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}



@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}