  $primary-color : #fff;
  $secondary-color : #252525;


// font size 
  $fs-sm : 14px;
  $fs-md: 20px;
  $fs-lg: 26px;
  $fs-xl: 38px;


  // padding, margin, gap 

  $size-xxs: 8px;
  $size-xs: 12px;
  $size-sm: 16px;
  $size-md: 20px;
  $size-lg: 24px;
  $size-xl: 32px;
  $size-xxl: 36px;
  $size-xxxl: 48px;


// breakpoint 

$breakpoints: (
  'small':  767px,
  'medium': 992px,
  'large':  1200px
);